<h3 class="profile-title">
  <%= @user.username%>'s Profile

  <% if @user.boost != true %>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  <% end %>

</h3>

<div class="user-photos">

  <% @photos.each do |photo| %>
    <%= image_tag photo.photo_url %>
    <br>
    <div class="caption">
      <%= link_to "#{photo.caption}", photo_path(photo.id), class: 'caption' %>
    </div>
    <br>
    <br>
  <% end %>


</div>
