<div class="main-page">
  <div class="header">
    <h1>Welcome to Instasnap</h1>
  </div>

  <div class="main-content">
    <div class="signup-form">
      <p>Sign up for an account today!</p>
      <%= link_to "Signup", new_user_path %>
      <div class="fb-login">
        <%= link_to "Sign in with Facebook", "/auth/facebook" %>
      </div>
    </div>

    <div class="all-photos">
      <p>Browse all photos</p>
      <%= link_to "All Photos", photos_path %>
    </div>

    
  </div>
</div>
