<div class="main-page">
  <div class="header">
    <h1>Welcome to Instasnap</h1>
  </div>

  <div class="main-content">
    <p>Sign up for an account today!</p>
    <%= link_to "Signup", new_user_path %>
  </div>
</div>
