.header-title {
  text-align: center;
  font-size: 2em;
  padding: 30px;
}

.photos-index {
  width: 600px;
  margin: auto;
  text-align: center;
}

.index-photo {
  width: 300px;
}

.photo-text {
  padding: 15px;
}
