.show-photo {
  padding: 30px;
  text-align: center;


}

.image-container {
  padding: 20px;
  height: auto;
  margin: auto;
}

.caption-container {
  // text-align: center;
}

.back {
  // text-align: center;
  font-size: 12px;
}
