<h2 class="header-title">Browse Instasnap</h2>

<div class="photos-index">
  <% Photo.all.each do |photo| %>
    <%= image_tag photo.photo_url, class: 'index-photo' %>
    <div class="photo-text">
      <%= link_to "#{photo.caption}", photo_path(photo.id), class: 'caption' %>
      <p>Posted by: <%= link_to "#{photo.user.username}", user_path(photo.user.id) %></p>
    </div>
    <hr>
  <% end %>
</div>
