<html>
  <body>
    <section class="post">
      <div class="content">
        <%= link_to "Back", request.referer || root_path %>
        <div class="image-container">

        </div>

        <div class="caption-container text-center">
          <h2><%= @photo.caption %></h2>
        </div>
      </div>
    </section>
  </body>
</html>
